@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@400;700&family=Lobster&family=Montserrat+Alternates&display=swap');

:root{
    --font-family: 'Alfa Slab One', cursive;
    --primary-color:#2FDD92;
    --bg-color:#F2F013;
}

body{
    background-color: var(--primary-color);
    color:#F2F013;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0;
    font-family: var(--font-family);
}

h1{
    font-size: 5em;
}
h2{
    font-size: 4em ;
}
h3{
    font-size: 2em;
    margin-top: 20px;
}
.mensagem{
    font-size: 1.5em;
    margin-top:40px;

}
.box{
    border:2px solid var(--primary-color);
    display: inline-block;
    padding: 10px;
    margin:20px;
}
.btn-jogar{
    padding:8px 15px ;
    border: 0;
    background:var(--primary-color) ;
    border-radius: 5px;
    margin-top: 20px;
}